@import 'grid.css';
@import 'lazyframe.css';

@import url('https://fonts.googleapis.com/css?family=Raleway:500,700|Roboto+Slab');
$font-serif: 'Raleway';
$font-sans: 'Raleway';

$type-color-hed: #690878;
$type-color-main: #444444;
$type-color-secondary: #aaaaaa;

body {
  background-color: #ffffff;
  font-family: $font-serif;
  padding: 1rem;
}
body, p, ul, ol {
  color: $type-color-main;
}

h1, h3, h5, h6 {
  color: $type-color-hed;
}
h2, h4 {
  color: $type-color-main;
}
h2 {
  font-size: 1.8em;
}
h3 {
  text-transform: uppercase;
}
h4 {
  font-size: 1.1em;
}
img {
  width: 100%;
}

a {
  color: $type-color-secondary;
  text-decoration: none;
  transition: .5s ease;

  &:focus,
  &:hover {
    color: rgba($type-color-hed, 1);
  }
}

///////////////// navbar ////////////////////
.navbar {
  border-bottom: 1px solid $type-color-secondary;
  font-family: $font-sans;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-menu-open {
  display: inline-block;
  float: right;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
}
.navbar-menu-list {
  display: none;
  list-style-type: none;
  padding-inline-start: 0px;
}

.navbar-menu-item {
  border-bottom: 1px solid $type-color-secondary;
  display: block;
  transition: .5s ease;
  & a {
    display: block;
    padding: 10px 10px 10px 0;
  }
  & a:active{
    background-color: $type-color-secondary;
    color: $type-color-hed;
    padding-left: 10px;
    &:before {
      content: "\2192";
    }
  }
}
.navbar-menu-item:last-child {
  border-bottom: none;
}

.navbar-title {
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
  .navbar-title-2 {
    display: none;
  }
/////////////// main menu //////////////////
.main-menu {
  font-family: $font-sans;
  font-size: 42px;
  font-weight: 800;
  text-align: right;
  text-transform: uppercase;
}
.main-menu-list {
  list-style-type: none;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  padding-inline-start: 0px;
}
.main-menu-item {
  padding: 10px 0;
  position: relative;
}
.main-menu-item:first-child {
  padding-top: 0;
}
.main-menu-item > a {
  display: inline-block;

  &:before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 0;
    height: 5px;
    background: transparent;
    border-bottom: 5px solid transparent;
  }
  &:hover:before {
    animation: animate .5s linear forwards;
  }
}

@keyframes animate {
  0% {
    width: 5px;
    height: 5px;
    border-bottom-color: transparent;
  }
  100% {
    width: 100%;
    height: 5px;
    border-bottom-color: $type-color-hed;
  }
}
///******* main menu for inside template *******


.slide-in-left {
  animation: slideinleft .25s linear forwards;
}

@keyframes slideinleft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
.slide-in-right {
  animation: slideinright .25s linear forwards;
}

@keyframes slideinright {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
/////////////// main area /////////////////////
.main-content {
  padding-top: 30px;
  & > p:first-child{
    margin-block-start: 0em;
  }
  & > h1:first-child {
    margin-block-start: 0em;
  }
}
.main-content-inside {
  display: none;
}
///////////////images /////////////////////////
.box-img {
  overflow: hidden;
}
.box-img > img {
  transition: all .4s;
  width: 100%;
  object-fit: cover;

}
.box-img:hover img {
  transform: scale(1.2);
}

///////////////modules ////////////////////////
.btn {
  background-color: $type-color-secondary;
  border: 1px solid $type-color-main;
  border-radius: 10px;
  color: $type-color-main;
  padding: 10px;
  text-transform: uppercase;
  transition: .5s ease;  
  height: 60px;
  &:hover {
    background-color: $type-color-main;
    color: #ffffff;
  }
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-bottom: 30px;
}
input, textarea {
  border: none;
  border-bottom: 1px solid $type-color-secondary;
  font-size: 1em;
  padding: 5px;
  resize: none;
  width: 100%;
}
input {
  height: 30px;
}
input.btn-submit {
  height: 60px;
  width: 50%;
}


/////////////// states ////////////////////////
.open {
  &:after {
    content: "\276E";
    display: inline-block;
    transform: rotate(-90deg);
  }
}
.close {
  &:after {
    content: "\276E";
    display: inline-block;
    transform: rotate(90deg);
  }
}
.reveal {
  opacity: 0;
  animation: fadein .5s forwards;
  animation-delay: .2s;
}

.already-visible {
  transform: translateY(0);
  opacity: 1;
  animation: none;
}

@keyframes fadein {
  0% { opacity: 0};
  100% { opacity: 1};
}
/////////////// desktop ////////////////////////

@media only screen and (min-width: 700px) {
  .navbar-title-2 {
    display: inline;
  }
  .navbar-menu-open {
    display: none;
  }
  .navbar-menu-list {
    display: inline-block;
    float: right;
    list-style-type: none;
  }
  .navbar-menu-item {
    border-bottom: none;
    display: inline-block;
    padding: 0 0 0 30px;
    & a {
      padding: 0;
    }
    & a:hover {
      background-color: #ffffff;
      color: $type-color-hed;
      padding: 0;

      &:before {
        content: "";
      }
    }
  }
  .card {
    grid-template-columns: 2fr 1fr;
    grid-gap: 40px;
  }



}
