<%= partial 'partials/header' %>
  <body>
    <div class="container grid-container-inside">
      <%= partial 'partials/navbar' %>      

      <div class="main-content slide-in-right">
        <%= yield %>
      </div>
    </div>

    <div class="footer">

    </div>
  </body>

</html>
