      <div class="navbar">
        <span class="navbar-title">
          <a href="/">ZM <span class="navbar-title-2">| Print &amp; Web design &amp; development</span></a>
        </span>
        <span class="navbar-menu-open open">
          MENU
        </span>
        <ul class="navbar-menu-list">
          <li class="navbar-menu-item"><a href="/web">Web</a></li>
          <li class="navbar-menu-item"><a href="/print">Print</a></li>
          <li class="navbar-menu-item"><a href="/video">Video</a></li>
          <!-- <li class="navbar-menu-item"><a href="/lettering">Lettering</a></li> -->
          <!-- <li class="navbar-menu-item"><a href="/etc">Etc</a></li> -->
          <li class="navbar-menu-item"><a href="/resume">Resume</a></li>
          <li class="navbar-menu-item"><a href="/contact">Contact</a></li>
        </ul>
      </div> 