---
layout: inside
title: Contact Me
---


<form name="contact" action="https://formspree.io/zeemakky@gmail.com" method="POST">
  <div class="">
    <br /><label>Name</label><br />
    <input type="text" name="name" required>
    <br />
  </div>
  <div class="">
    <br /><label>Email</label><br />
    <input type="email" name="_replyto" required>
    <br />
  </div>
  <div class="">
    <br /><label>Message</label><br />
    <textarea type="textarea" rows="10" name="message" required>
    </textarea>
    <br />
  </div>

  <br /><input class="btn btn-submit" type="submit" value="Send">
</form>

