---
title: Welcome to Middleman
---



<h1>
  Middleman is Running
</h1>
<p>weurowuerow erow eoiruw</p>
<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
