---
title: Zeina Makky | Print &amp; Web Design &amp; Development
---



<h1>Hello.</h1>
<h2>My name is Zeina, and I like to design and build websites, among other things. </h2>
<h2>I live and work in the D.C. area.</h2>
<h4>About this site:</h4>
<p>I built this using <a href="http://middlemanapp.com" target="_blank">Middleman</a>, a static site generator.
<p>If you have questions about that or anything else, <a href="/contact/">drop me a line</a>.</p>

