---
title: Video
layout: inside
---
<% data.videos.each do |video| %>
  <div class="card reveal-me">
    <div>
      <div 
        class="lazyframe"
        data-src="<%= video.url %>"
        data-vendor="youtube">
      </div>
      <!-- <iframe width="560" height="315" src="<%= video.url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    </div>
    <div class="card-caption">
      <%= video.caption %>
    </div>
  </div>
  
<% end %>

